<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms of service</title>
    <link rel="stylesheet" href="/static/styles.css"> <!-- Link to external CSS -->
</head>

<body>
    <div class="container">
        <h1>Terms of Service</h1>
        <p><strong>Effective Date:</strong> 01/12/2024</p>

        <p>Welcome to Booking Page! By accessing or using our booking system, you agree to be bound by these Terms of Service. Please read them carefully before using the Service. If you do not agree with these terms, you may not use the Service.</p>

        <h2>1. Use of Service</h2>
        <ul>
            <li>You must be at least 15 years old to use the Service.</li>
            <li>You agree to provide accurate and complete information when creating an account or making a booking.</li>
            <li>You are responsible for maintaining the confidentiality of your account information.</li>
        </ul>

        <h2>2. Booking</h2>
        <ul>
            <li>All bookings are subject to availability.</li>
        </ul>

        <h2>3. Prohibited Activities</h2>
        <p>You agree not to:</p>
        <ul>
            <li>Engage in any activity that violates any law or regulation.</li>
            <li>Use the Service for fraudulent or harmful purposes.</li>
            <li>Interfere with or disrupt the Service or its infrastructure.</li>
        </ul>

        <h2>4. Intellectual Property</h2>
        <p>All content, logos, and trademarks associated with the Service are the property of Booking Page. You may not reproduce, distribute, or use this content without prior written consent.</p>

        <h2>5. Limitation of Liability</h2>
        <p>Booking Page shall not be liable for any indirect, incidental, or consequential damages arising from your use of the Service.</p>

        <h2>6. Termination</h2>
        <p>We reserve the right to suspend or terminate your access to the Service if you violate these Terms of Service or engage in harmful activities.</p>

        <h2>7. Governing Law</h2>
        <p>These Terms of Service are governed by the laws of Finland. Any disputes shall be resolved exclusively in the courts of Finland.</p>

        <h2>8. Changes to Terms</h2>
        <p>We may update these Terms of Service from time to time. Please check this page periodically for changes. Continued use of the Service constitutes acceptance of the updated terms.</p>

        <h2>9. Contact Us</h2>
        <p>If you have any questions about these Terms of Service, contact us at:</p>
        <p>Email: email@address.com</p>
        <p>Phone: 99 99 99 99 99</p>

        <p>For more information, please review our <a href="/privacynotice">Privacy Policy</a>.</p>
    </div>
</body>

</html>